<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link">{{ site.name }}</a>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="{{ '/' | prepend: site.baseurl }}">Эпизоды</a></li>
        <li><a href="{{ '/subscribe' | prepend: site.baseurl }}">Подписка</a></li>
        <li><a href="{{ '' | prepend: site.baseurl }}">Донаты</a></li>
        <li><a href="{{ '/links' | prepend: site.baseurl }}">Ссылки</a></li>
      </ul>
  </header>
</div>
