---
layout: default
---
<h2 style="margin-bottom: -20px;">{{ page.title }}</h2>
</br>
<p class="post-date">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<!-- Name of the mp3 file in episodes folder -->
{% if page.episode_file %}
<div class="pcast-player">
  <div class="pcast-player-controls">
    <button class="pcast-play"><i class="fa fa-play"></i><span>Play</span></button>
    <button class="pcast-pause"><i class="fa fa-pause"></i><span>Pause</span></button>
    <button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span>Rewind</span></button>
    <span class="pcast-currenttime pcast-time">00:00</span>
    <progress class="pcast-progress" value="0"></progress>
    <span class="pcast-duration pcast-time">00:00</span>
    <button class="pcast-speed">1x</button>
    <button class="pcast-mute"><i class="fa fa-volume-up"></i><span>Mute/Unmute</span></button>
  </div>
  <audio src="{{site.url}}/audio/episodes/{{page.episode_file}}.mp3"></audio><a class="pcast-download" href="{{site.url}}/audio/episodes/{{page.episode_file}}.mp3" download>Скачать MP3</a>
</div>

<script  src="{{site.url}}/css/player.js"></script>
{% endif %}

Ютубчик: 

{% if page.youtube_id %}
<div class="video">
    <figure>
        <iframe width="640" height="480" src="//www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
    </figure>
</div>
{% endif %}

{% if site.disqus_shortname %}
{% include disqus_comments.html %}
{% endif %}
