---
layout: default
---
<h2 style="margin-bottom: -20px;">{{ page.title }}</h2>
</br>
<p class="post-date">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div id="example{{page.number}}"></div>
<script src="https://cdn.podlove.org/web-player/embed.js"></script>
<script>
    podlovePlayer('#example{{page.number}}', {
        title: '{{ page.title }}',
        subtitle: '{{ page.tagz }}',
        poster: '{{page.image | prepend: site.url}}',
        show: {
            title: '{{ site.podcast.title }}',
            summary: '{{ site.podcast.summary }}',
            poster: '{{ site.podcast.art | prepend: site.url }}',
            link: '{{ site.podcast.link }}'
        },
        duration: '{{ page.duration }}',
        chapters: [
            {% for chapter in page.chapters %}
            {%- assign chapter_array = chapter | split: "➖" -%}
            {%- assign chapter_time = chapter_array[0] | strip -%}
            {%- assign chapter_title = chapter_array[1] | strip -%}
            {%- if chapter == page.chapters.last -%}
            { start:"{{chapter_time}}", title: '{{chapter_title}}'}
            {%- continue -%}
            {%- endif -%}
            { start:"{{chapter_time}}", title: '{{chapter_title}}'},
            {% endfor %}
        ],
        audio: [{
          url: '{{ page.mp3 | prepend: site.url }}',
          mimeType: 'audio/mpeg',
          size: {{ page.length }},
          title: 'Audio MP3'
        }],
        reference: {
            config: '//podlove-player.surge.sh/fixtures/example.json',
            share: '//podlove-player.surge.sh/share'
        },
        contributors: [{
          name: 'Даня Меркулов (Братишка)',
          avatar: '{{'/files/bratishka.jpg' | prepend: site.url }}'
        }, {
          name: 'Андрей Горбунов (Волк)',
          avatar: '{{'/files/volk.jpg' | prepend: site.url }}'
        }, {
          name: 'Сергей Русаков (Усталог)',
          avatar: '{{'/files/ustalog.jpg' | prepend: site.url }}'
        }]
    });
</script>

{% if page.youtube_id %}
Ютубчик: 
<div class="video">
    <figure>
        <iframe width="640" height="480" src="//www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
    </figure>
</div>
{% endif %}

{% if site.disqus_shortname %}
{% include disqus_comments.html %}
{% endif %}
